body {
    background-color: rgb(181, 181, 181);
    max-width: 1440px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.wrap {
    display: inline-block;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: white;
    display: block;
}

ul {
    list-style: none;
    position: relative;
    text-align: left;
}

li {
    float: left;
}

ul.dd-menu li a {
    display: block;
    padding: 15px 30px;
    border-right: 1px solid #303030;
    background-color: black;
    color: white;
}

ul.dd-menu li:last-child a {
border-right: none;
}

ul.dd-menu li a:hover {
    background-color: white;
    color: black;
}

ul.sub-menu {
    position: absolute;
    z-index: 1000;
    width: 35%;
    display: none;
}

/* ul.sub-menu li a {
    border-bottom: 1px solid #303030;
    border-right: none;
    padding: 15px 20px;
} */

ul.sub-menu li a:last-child {
    border-bottom: none;
}

ul.dd-menu li:hover ul {
    display: block;
    color: black;
}

ul.sub-menu li {
    float: left;
    margin: 0;
}